{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx"
  ],
  "sourceMaps": "inline"
}
