.CaptainPage {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}

.RightPane {
    display: flex;
    flex-flow: column;
}

.RightPane .Messages {
    margin: 10px;
    text-align: left;
}

.waiting {
    color: #FF0000;
}

.notWaiting {
    color: #FFFFFFAA;
}

.GridBox {
    margin: 10px;
    flex-basis: 500px;
}

.SystemsPanel {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    max-width: 320px;
    width: 100%;
}

.SystemButton.active {
    background: #E0E0E0;
}