.CustomLobbyPage {
    min-height: 100vh;
}

.LobbyId {

}

.TeamLists {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ReadyButton {

}

.ReadyButton.ready {

}

.CancelButton {

}

.UsernameInput {
    padding: 10px;
    border: none;
    font-size: 1em;
}