.CustomLobbyPage {
    margin: auto;
    max-width: 800px;
    min-height: 100vh;
    padding: 20px;
}

.CustomLobbyPage h1 {
    margin-bottom: 20px;
}

.LobbyId {
}

.UsernamePaper {
    padding: 10px;
}

.RoleSelectContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px -10px;
}

.ButtonBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ButtonBar > * {
    display: block;
}