.EngineerPage {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.DirectionPanels {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px -10px;
    max-width: 480px;
}

.DirectionPanel {
    flex-grow: 1;
    margin: 10px;
    max-width: 220px;
    padding: 0 10px;
    transition: all 0.35s ease;
}

.DirectionPanel.active {
    transform: perspective(1000px) translateZ(50px);
    transition: all 0.35s ease;
}

.DirectionPanel:not(.active) {
    background-color: #E0E0E0;
}

.DirectionPanel:not(.active) .ButtonRow {
    opacity: 0.35;
}

.DirectionPanel h2 {
    padding: 10px;
    text-align: center;
}

.ButtonRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 0;
    transition: opacity 0.5s ease;
}
