.FirstMatePage {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    max-width: 550px;
    padding: 20px;
}

.HitPointMeterBox {
    width: 100%;
}

.SystemPanels {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px -10px;
}

.SystemPanel,
.SkipChargingButton {
    flex-basis: 150px;
    flex-grow: 1;
    margin: 10px;
    padding: 0;
}

.SystemPanel {
    align-items: stretch;
    display: flex;
}

.SystemPanel.charged {
    background: #FFFFFF;
}

.SystemPanelPaper {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding: 10px;
    height: 100px;
}

.SystemPanelRight {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 10px;
}

.SystemName {
    color: #114477;
    font-family: 'Audiowide', sans-serif;
    font-size: 1rem;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.SystemPanel.charged .SystemName {
    color: #1188BB;
}

:disabled .SystemName {
    color: #6897BB;
}