.FirstMatePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 20px;
}

.HitPointMeterBox {
    max-width: 490px;
    width: 100%;
}

.SystemPanels {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px -10px;
    max-width: 520px;
}

.SystemPanel {
    display: flex;
    flex-flow: row wrap;
    /*flex-grow: 1;*/
    margin: 10px;
    padding: 10px;
}

.SystemPanelRight {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 10px;
}

.SystemName {
    font-family: 'Audiowide', sans-serif;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.SkipChargingButton {
    margin: 10px;
    width: 150px;
}
