.FloatingText {
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12);
}

.FloatingText h1 {
    font-size: 2.4em;
    margin-bottom: 20px;
}

.FloatingText h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

@media (min-width: 420px) {
    .FloatingText h1 {
        font-size: 3em;
    }

    .FloatingText h2 {
        font-size: 2em;
    }
}
