.Grid {
    position: relative;
    cursor: default;
    display: flex;
    flex-flow: row nowrap;
    user-select: none;
}

/* TODO: Less hard-coded stuff */
.SectorsOverlay {
    display: flex;
    flex-flow: row wrap;
    left: 35px;
    max-height: calc(35px * 15 + 0px);
    max-width: calc(35px * 15 + 0px);
    position: absolute;
    top: 35px;
    pointer-events: none;
}

.Sector {
    border: 1px solid #147;
    color: #FFF6;
    font-size: 8em;
    font-weight: bold;
    height: calc(35px * 5);
    line-height: calc(35px * 5);
    text-align: center;
    width: calc(35px * 5);
}

.Sector.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.Sector.clickable:hover {
    background: #1473;
    color: #FFFD;
}

.Column {
    display: flex;
    flex-flow: column nowrap;
}

.RowLabel, .ColumnLabel {
    color: #FFF;
    height: 35px;
    text-shadow: 0 0 15px #FFFFFF, 0 0 10px #FFFFFF;
    width: 35px;
    line-height: 35px;
    text-align: center;
}

.Cell {
    border-right: 1px solid #DEF;
    border-bottom: 1px solid #DEF;
    color: #147;
    display: inline-block;
    height: 35px;
    text-align: center;
    line-height: 33px;
    width: 35px;
}

.Cell.clickable:hover {
    border: 1px dashed #0BF;
    box-shadow: inset 0 0 2px 1px #0BF;
    cursor: pointer;
}

.Cell.water {
    background: #CDF;
}

.Cell.land {
    background: #1A1;
}