.MainMenu {
    display: block;
    margin: auto;
    max-width: 320px;
    padding: 50px 20px;
    width: 100%;
}

.HowToPlay,
.JoinCustomGameInput,
.HowToPlay {
    margin: 10px 0;
}

.HowToPlay h3 {
    font-size: 1.0rem;
    margin: 10px;
    text-align: center;
}

.HowToPlay p {
    font-size: 0.9rem;
    margin: 8px;
}

.Stepper {
    border-radius: 2px; /* TODO: We probably want this from the theme */
    padding: 0;
}

.JoinCustomGameInput form {
    padding: 10px;
}

.Footer {
    bottom: 0;
    font-family: 'Audiowide', sans-serif;
    padding: 2px 5px;
    position: absolute;
    right: 0;
}

.Footer a {
    color: #FFFFFF99;
    text-decoration: none;
}

.Footer a:hover {
    color: #FFFFFFFF;
}

@media (min-width: 420px) {
    .MainMenu {
        padding: 50px;
        max-width: 420px;
    }
}