.MainMenu {
    display: block;
    margin: auto;
    max-width: 320px;
    padding: 50px 20px;
    width: 100%;
}

.JoinCustomGameInput {
    margin: 10px 0;
}

.JoinCustomGameInput.open {
    padding: 10px;
}

@media (min-width: 420px) {
    .MainMenu {
        padding: 50px;
        max-width: 420px;
    }
}