@import './colors.css';
@import './fonts.css';

* {
    box-sizing: border-box;
}

/* Reset stupid margin/padding */
html, body, pre {
    margin: 0;
    padding: 0;
}

body, p, input, button {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: radial-gradient(#1188BB, #114477), #114477;
    color: #114477;
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Audiowide', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* TODO: Use variables for colors. */