.RadioOperatorPage {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
}

.GridBox {
    margin: 10px;
    flex-basis: 500px;
}

.NotificationListPaper {
    flex-grow: 1;
    margin: 10px;
    max-width: 240px;
}

.NotificationList {
    overflow: hidden;
    max-height: calc(48px + 10 * 41px);
}

.NotificationListItem {

}

.NotificationListItem.first {

}

.NotificationListItem.last {

}