.RadioOperatorPage {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
}

.GridContainer {
    margin: 10px;
}

.RecentMovesPaper {
    flex-grow: 1;
    margin: 10px;
    max-width: 240px;
}

.RecentMovesList {
    overflow: hidden;
    max-height: calc(48px + 10 * 41px);
}

.RecentMovesHeader {
    /*background-color: #FFFFFF;*/
    /*border-bottom: 2px solid #114477;*/
    /*font-family: 'Audiowide', sans-serif;*/
    /*text-align: center;*/
}

.RadioOperatorPage .ActionAvatar { /* TODO: Change css insertion point so we don't need this specificity hack */
    height: 24px;
    width: 24px;
    font-size: 1rem;
}

.ActionInfo {

}

.ActionInfo.first {

}

.ActionInfo.last {

}