.RoleSelectContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px -10px;
}

.RoleSelectTeamList {
    flex-grow: 1;
    padding: 10px;
    flex-basis: 250px; /* TODO: Is this dangerous? */
}

.RoleCard {
    transition: background-color 0.25s ease;
}

.RoleCard.isUser {
    background: #E0E0E0;
}

.RoleCard.isOther {
}

.Username {
    font-weight: bold;
}

.Available {
    font-style: italic;
}