.RoleSelect {
    flex-grow: 1;
    padding: 10px;
    flex-basis: 250px; /* TODO: Is this dangerous? */
}

.TeamName {
}

.TeamName.red {
    color: #FF0000;
}

.TeamName.blue {
    color: #0000FF;
}

.RoleCard {
    transition: background-color 0.25s ease;
}

.RoleCard.isUser {
    background: #E0E0E0;
}

.RoleCard.isOther {
}

.RoleCard.isReady {
}

.Username {
    font-weight: bold;
}

.Available {
    font-style: italic;
}